.team__section {
  background-color: $filter-btn-color;
}

.team__container {
  display: block;
}

.team {
  display: flex;
  margin-top: 50px;
}

.team {
  .team__card {
    width: 270px;
    margin-right: 30px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.team {
  li {
    &:last-child {
      margin-right: 0px;
    }
  }
}

.team {
  li {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.person__description {
  padding: 30px 32px;
}

.person__name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: $principal-text-color;
  text-align: center;
}

.person__profession {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: $secondary-text-color;
  margin-top: 10px;
  text-align: center;
}

.social__list {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.social__list__item {
  list-style-type: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list__item {
  &:hover,
  &:focus {
    fill: $link-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social__list__item {
  margin-right: 10px;
}

.social__list__item {
  &:last-child {
    margin-right: 0;
  }
}

.social__list__item {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social__list__icon {
  width: 20px;
  height: 20px;
  fill: $svg-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list__item {
  a {
    &:hover,
    &:focus {
      .social__list__icon {
        fill: $white-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

.social__list__item {
  a {
    &:hover,
    &:focus {
      background-color: $link-color;
      cursor: pointer;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
