body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

* {
  box-sizing: border-box;
}

* {
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

.nav__menu__list,
.container__qualities,
.offers__list,
.team,
.projects__filter__list,
.projects__portfolio__list,
.footer__contacts__list {
  list-style-type: none;
}

button {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

section {
  @media screen and(min-width:320px) and(max-width:1200px) {
    padding: 60px 0;
  }
  @media screen and(min-width:1201px) {
    padding: 90px 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 481px) {
    width: 480px;
  }

  @media screen and (min-width: 769px) {
    width: 768px;
  }

  @media screen and (min-width: 1201px) {
    width: 1200px;
  }
}
