.container__clients {
  @media screen and(max-width:768px) {
    display: block;
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.clients__list {
  @media screen and(max-width:768px) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 15px -15px -15px -15px;
  }
}

.clients__item {
  @media screen and(max-width:768px) {
    display: flex;
    margin: 15px;
    width: 210px;
    height: 92px;
    border: 1px solid $svg-color;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients__item {
  a {
    &:hover,
    &:focus {
      border: 1px solid $link-color;
      border-radius: 4px;
      cursor: pointer;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.clients__item {
  a {
    &:hover,
    &:focus {
      .clients__logo {
        fill: $link-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

.clients__item {
  a {
    @media screen and(max-width:768px) {
      width: 210px;
      height: 92px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      display: flex;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: $svg-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
