.projects__filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.projects__filter__item {
  &:nth-child(-n + 4) {
    margin-right: 8px;
  }
}

.project__filter__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  background: $filter-btn-color;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__filter__btn {
  &:hover,
  &:focus {
    cursor: pointer;
    color: $white-color;
    background: $link-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
